<footer class="page__footer">
  <a class="flexbutton" href="#link-home" target="_blank">
    <img
      class="arrow"
      title="Adalab Escuela Digital"
      src="./assets/images/ico-arrow.svg"
      alt="arrow"
  /></a>
</div>
<div class="containerbox">
  <div class="copyright">
    <small class="copyone"> &copy; 2021</small>
    <small class="copytwo"> we <span class="heartcolor">❤︎</span> components</small>
  </div>
  <div class="links-articles">
    <nav>
      <ul>
        <li>
          <a href="https://adalab.es" class="related-links__link" target="_blank">articles</a>
        </li>
        <li>
          <a href="https://adalab.es" class="related-links__link" target="_blank">books</a>
        </li>
        <li>
          <a href="https://adalab.es" class="related-links__link" target="_blank">events</a>
        </li>
        <li>
          <a href="https://adalab.es" class="related-links__link" target="_blank">reasons</a>
        </li>
        <li>
          <a href="https://adalab.es" class="related-links__link" target="_blank">tips</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="links-twitter">
    <nav class="related-categories">
      <ul>
        <li>
          <a href="https://adalab.es" class="related-links__link" target="_blank">twitter</a>
        </li>
        <li>
          <a href="https://adalab.es" class="related-links__link" target="_blank">instagram</a>
        </li>
        <li>
          <a href="https://adalab.es" class="related-links__link"
          target="_blank">mastodon social</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
</footer>
