<footer class="page__footer">
  <div class="copyright">
    <small class="copyone"> &copy; 2021 </small>
    <small class="copytwo"> we ❤︎ components </small>
  </div>
  <div class="links-articles">
    <nav>
      <ul>
        <li>
          <a href="https://adalab.es" class="related-links__link">articles</a>
        </li>
        <li>
          <a href="https://adalab.es" class="related-links__link">books</a>
        </li>
        <li>
          <a href="https://adalab.es" class="related-links__link">events</a>
        </li>
        <li>
          <a href="https://adalab.es" class="related-links__link">reasons</a>
        </li>
        <li>
          <a href="https://adalab.es" class="related-links__link">tips</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="links-twitter">
    <nav class="related-categories">
      <ul>
        <li>
          <a href="https://adalab.es" class="related-links__link">twitter</a>
        </li>
        <li>
          <a href="https://adalab.es" class="related-links__link">instagram</a>
        </li>
        <li>
          <a href="https://adalab.es" class="related-links__link"
            >mastodon social</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
