<!-------------------------ARTICLE---------------------------------->
<main class="page__main">
  <article class="article-one">
    <small class="small-insomnia">insomnia tips </small>
    <h1 class="title-looking">looking through a window</h1>
    <p class="paragraph-text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <div class="button-back">
      <a class="button-go" href="https://adalab.es/" target="_blank">go</a>
    </div>
  </article>
  <!-------------------------GRID---------------------------------->
  <div class="grid-purchase">
    <div class="textcontainer">
      <h1 class="item-title">3 reasons to purchase</h1>
    </div>
    <div class="grid-container">
      <div class="item-one">
        <article>
          <h2 class="gridtitle">Ut sed metus</h2>
          <p class="gridtext">Lorem ipsum dolor sit amet, consecteur.</p>
        </article>
      </div>
      <div class="item-two">
        <article>
          <h2 class="gridtitle">Curabitur ac erat</h2>
          <p class="gridtext">Mauris mattis urna quis lorem molestie.</p>
        </article>
      </div>
      <div class="item-three">
        <article>
          <h2 class="gridtitle">Morbi dictum</h2>
          <p class="gridtext">Aliquam in dolor et dolor tincidunt.</p>
        </article>
      </div>
    </div>
    <div class="button-orange">
      <a class="button-more" href="https://adalab.es/" target="_blank"
        >More reasons</a
      >
    </div>
  </div>
</main>
