.flexbutton {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 21px;
  // border: red solid 1px;
  transform: translateY(-50%);
  align-items: center;
}

.arrow {
  transform: translateY(-1.5vh);
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 43px;
  padding: 12px 11px 12.4px 10px;
  background-color: $color-white;
  border-radius: 50%;
  background-color: #f1f1f1;
}

.page__footer {
  width: 100vw;
  // position: fixed;
  bottom: 0%;
  background-color: $color-darkgreyblue;
  // border: 2px solid orange;
}

.containerbox {
  display: flex;
  direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 465px;

  @media all and (min-width: 768px) {
    height: 240px;
    flex-direction: row;
    justify-content: space-around;
  }
}

.copyright {
  // width: 100vw;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  order: 4;
  width: 100vw;
  height: 60px;
  font-family: $font-family-subtitle;
  font-size: 14px;
  overflow-wrap: normal;
  margin-bottom: 45px;
  color: white;
  // border: solid 2px red;

  @media all and (min-width: 768px) {
    width: 210px;
    order: -1;
    margin-top: 45px;
    margin-bottom: auto;
    text-align: start;
  }
}

.copyone {
  order: 1;
}

.copytwo {
  order: 2;
}

.heartcolor {
  color: $color-brightorange;
}

.links-articles {
  text-align: center;
  list-style-type: none;
  text-transform: capitalize;
  order: 2;
  width: 100vw;
  height: 150px;
  font-family: $font-family-subtitle;
  font-size: 16px;
  margin-top: 60px;
  color: #ffffff;
  // border: solid 2px green;

  @media all and (min-width: 768px) {
    width: 210px;
    order: 2;
    margin-top: 45px;
    text-align: start;
  }
}

.links-twitter {
  text-transform: capitalize;
  list-style-type: none;
  text-align: center;
  // width: 210px;
  width: 100vw;
  height: 150px;
  order: 3;
  margin-top: 30px;
  font-family: $font-family-subtitle;
  font-size: 16px;
  color: #ffffff;
  // border: solid 2px green;

  @media all and (min-width: 768px) {
    width: 210px;
    order: 3;
    margin-top: 45px;
    text-align: start;
  }
}

.related-links__link {
  color: $color-white;
  width: 210px;
  height: 150px;
  margin: 23px 30px;
  font-family: $font-family-subtitle;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
