.flexbutton {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 21px;
  border: red solid 1px;
  // position: absolute;
  transform: translateY(-50%);
  align-items: center;
}

.arrow {
  transform: translateY(-2vh);
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 43px;
  padding: 12px 11px 12.4px 10px;
  background-color: $color-white;
  border-radius: 50%;
  background-color: #f1f1f1;

  //TABLET
  @media all and (min-width: 768px) {
    // margin-top: -25px;
    // // margin-left: 362px;
    // // margin-right: 361px;
    // // margin-bottom: 45px;
  }
  // DESKTOP
  @media all and (min-width: 1280px) {
    // margin-top: -25px;
    // // margin-left: 618px;
    // // margin-right: 617px;
    // // margin-bottom: 13px;
  }
}

.page__footer {
  // position: fixed;
  bottom: 0%;
  background-color: $color-darkgreyblue;
  border: 2px solid orange;
}

.containerbox {
  display: flex;
  direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.copyright {
  display: flex;
  flex-direction: column;
  text-align: center;
  // order: 4;
  width: 210px;
  height: 30px;
  font-family: $font-family-subtitle;
  font-size: 14px;
  color: white;
  border: solid 2px red;

  @media all and (min-width: 768px) {
    flex-direction: row;
    // order: -1;
  }
}

.links-articles {
  text-align: center;
  list-style-type: none;
  text-transform: capitalize;
  width: 210px;
  height: 150px;
  font-family: $font-family-subtitle;
  font-size: 16px;
  color: #ffffff;
  border: solid 2px green;

  @media all and (min-width: 768px) {
  }
}

.links-twitter {
  text-transform: capitalize;
  list-style-type: none;
  text-align: center;
  width: 210px;
  height: 150px;
  font-family: $font-family-subtitle;
  font-size: 16px;
  color: #ffffff;
  border: solid 2px green;

  @media all and (min-width: 768px) {
    flex-direction: row;
    order: -2;
  }
}
.related-links__link {
  color: $color-white;
  width: 210px;
  height: 150px;
  margin: 23px 30px;
  font-family: $font-family-subtitle;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
