// --------------------------ARTICLE---------------------------------//
.page__main {
  width: 100%;
}
.article-one {
  background-color: $color-white;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 45px;
  overflow-wrap: normal;
}

.small-insomnia {
  font-size: 14px;
  color: $color-lightblue;
  font-family: $font-family-subtitle;
  text-transform: capitalize;

  //--TABLET
  @media all and (min-width: 768px) {
    max-width: 216px;
    margin-left: 39px;
    margin-right: 39px;
  }

  //--DESKTOP
  @media all and (min-width: 1280px) {
    max-width: 360px;
    font-size: 16px;
    margin-left: 275px;
    margin-right: 275px;
  }
}

.title-looking {
  max-width: 290px;
  font-size: 30px;
  line-height: 45px;
  color: $color-black;
  font-family: $font-family-title;
  text-transform: capitalize;

  //--TABLET
  @media all and (min-width: 768px) {
    max-width: 690px;
    font-size: 26px;
    margin-left: 39px;
    margin-right: 39px;
  }

  //--DESKTOP
  @media all and (min-width: 1280px) {
    max-width: 730px;
    font-size: 32px;
    margin-left: 275px;
    margin-right: 275px;
  }
}

.paragraph-text {
  max-width: 290px;
  font-size: 18px;
  margin: 15px 0 30px;
  line-height: 30px;
  color: $color-greyishbrown;
  font-family: $font-family-subtitle;

  //--TABLET
  @media all and (min-width: 768px) {
    max-width: 690px;
    font-size: 20px;
    margin-left: 39px;
    margin-right: 39px;
  }

  //--DESKTOP
  @media all and (min-width: 1280px) {
    max-width: 730px;
    font-size: 20px;
    margin-left: 275px;
    margin-right: 275px;
  }
}

.button-back {
  cursor: pointer;
  width: 76px;
  height: 45px;
  border: 2px solid $color-brightorange;
  //   padding: 30px 214px 0 0;
  border-radius: 22.5px;
  margin-bottom: 45px;
  margin-top: 20px;

  //--TABLET
  @media all and (min-width: 768px) {
    width: 91px;
    height: 45px;
    margin-left: 39px;
  }

  //--DESKTOP
  @media all and (min-width: 1280px) {
    width: 160px;
    height: 45px;
    margin-left: 275px;
  }
}

.button-back:hover {
  color: $color-white;
  transition: color ease 1s;
  background-color: $color-brightorange;
  .button-go {
    color: $color-white;
  }
}

.button-go {
  height: 45px;
  width: 25px;
  margin-left: 24px;
  margin-right: 25px;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: center;
  color: $color-brightorange;
  text-transform: capitalize;
  font-family: $font-family-medium;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;

  //--TABLET
  @media all and (min-width: 768px) {
    margin-left: 33.5px;
    margin-right: 32.5px;
    margin-bottom: 60px;
  }

  //--DESKTOP
  @media all and (min-width: 1280px) {
    margin-left: 67px;
    margin-right: 68px;
    margin-bottom: 60px;
  }
}

//--------------------------GRID---------------------------------//
.grid-purchase {
  background-color: $color-iceblue;
  width: 100vw;
  height: 624px;
  text-align: center;
  // border: green 1px solid;

  //--TABLET
  @media all and (min-width: 768px) {
    height: 397px;
  }

  //--DESKTOP
  @media all and (min-width: 1280px) {
    height: 397px;
  }
}

.textcontainer {
  width: 100vw;
}
.item-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  justify-self: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 22.5px;
  font-size: 24px;
  transform: translateY(20px);
  color: $color-black;
  font-family: $font-family-title;
  // border: blue 2px solid;

  //--TABLET
  @media all and (min-width: 768px) {
    width: 450px;
    height: 45px;
    margin-bottom: 22.5px;
    font-size: 24px;
  }

  //--DESKTOP
  @media all and (min-width: 1280px) {
    width: 730px;
    height: 45px;
    margin-top: 60px;
    margin-bottom: 22.5px;
    font-size: 32px;
  }
}
.grid-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 45px;
  // border: solid red 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  width: 180px;

  //TABLET
  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "item-one item-two item-three";
    grid-gap: 30px;
    width: 768px;
  }

  //--DESKTOP
  @media all and (min-width: 1280px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

.gridtitle {
  height: 30px;
  width: 184px;
  font-family: $font-family-title;
  font-size: 18px;
  line-height: 30px;
  margin: auto;

  //--TABLET
  @media all and (min-width: 768px) {
    height: 30px;
    width: 210px;
    font-size: 24px;
  }

  //--DESKTOP
  @media all and (min-width: 1280px) {
    height: 30px;
    font-size: 24px;
  }
}

// .grid-title:first-letter {
//   text-transform: uppercase;
// }

.gridtext {
  text-align: center;
  height: 63px;
  width: 180px;
  font-family: $font-family-subtitle;
  font-size: 18px;
  line-height: 30px;
  margin: auto;
  // margin-bottom: 22.5px;

  @media all and (min-width: 768px) {
    height: 68px;
    width: 212.3px;
    font-size: 20px;
  }

  //--DESKTOP
  @media all and (min-width: 1280px) {
    height: 68px;
    width: 353.8px;
    font-size: 20px;
  }
}

.button-orange {
  cursor: pointer;
  width: 184px;
  height: 45px;
  background-color: $color-brightorange;
  border-radius: 22.5px;
  margin-top: 45px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.button-more {
  height: 45px;
  width: 124px;
  margin: auto;
  text-decoration: none;
  text-align: center;
  color: $color-white;
  font-family: $font-family-medium;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
}

.button-orange:hover {
  color: $color-white;
  background-color: $color-white;
  border: solid 2px $color-brightorange;
  animation-name: intro;
  animation-duration: 1s;
  animation-iteration-count: 1;

  // border: 2px solid $color-darkgreyblue;
  .button-more {
    color: $color-brightorange;
  }
}

@keyframes intro {
  from {
    opacity: 0;
    color: $color-brightorange;
    transform: scale(2) rotate(-150deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
